<div style="height: min(80vh);padding: 10%;">
  <table class="table table-responsive" style="padding: 10%;">
    <thead>
    <tr class="row-cols-1 "  style="text-align: center;font-size: 2em;">
    <th colspan="3">Contact us</th>
  </tr>
</thead>

    <tr class="row-cols-sm-3 " style="text-align: center;">
      <td class="col-1" ><i class="fa fa-envelope" style="font-size:max(3em);"></i></td>
      <td class="col-2" ><i class="fa fa-phone" style="font-size:max(3em);"></i></td>
      <td class="col-3" ><i class="fa fa-home" style="font-size:max(3em);"></i></td>
    </tr>

    <tr class="row-cols-3"  style="text-align: center;">
      <td class="col-1" ><a href = "mailto:harveyshekhar@gmail.com">harveyshekhar@gmail.com</a></td>
      <td class="col-2" >+91-1414003029 | +91 9414044376</td>
      <td class="col-3" >158-159 Bubersons House film colony Nehru Bazar Jaipur Rajasthan, 302003</td>
    </tr>

</table>

</div>
