<div class="container" style="min-height: 80vh;">
<ng-container *ngFor="let imgSrc of imgArr;let i=index" >
  <div class="card" style="max-width: 200px;padding: 10px;display: inline-block;margin: 10px;">
    <!-- <img class="card-img-top" style="max-width: 250px ;" src = '../../../assets/Harvey Catalogue/{{imgSrc}}' /> -->
    <img class="card-img-top" style="max-width: 250px ;"  />
    <div class="card-title">Title here</div>
    <div class="card-body">Body here</div>
  </div>
</ng-container>
</div>
